/* TODO: merge with inline-form? */
.comment-form {
  display: flex;
  align-items: center;
}

.comment__body {
  position: relative;
  margin-left: 20px;

  word-wrap: break-word;
}

.comment__author {
  display: flex;
  align-items: center;

  font-family: var(--font-family-header);
  font-size: 18px;
  margin-bottom: 6px;
}

.comment__author-link {
  color: var(--black);
}

.comment__meta {
  font-size: 14px;
  margin-top: 6px;
  text-align: right;
}
