.image-preview {
  display: inline-block;
  width: 200px;
}

.image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--black);
  padding: 8px 0;
}

.image__meta,
.image__navigation {
  font-size: 18px;
  color: var(--meta-inverted-color);

  &.active {
    color: white;
  }

  &:hover {
    color: var(--meta-inverted-hover-color);
    cursor: pointer;
  }
}

.image__navigation {
  flex-grow: 1;

  display: flex;
  align-items: center;

  padding: 16px;
  text-decoration: none;
}

.image__navigation--left {
  justify-content: flex-start;
}

.image__navigation--right {
  justify-content: flex-end;
}

@media (--desktop) {
  .image__touch-info { display: none; }
}

@media (--mobile) {
  .image {
    padding: 8px 16px;
  }

  .image__navigation {
    display: none;
  }

  .image__touch-info {
    color: var(--meta-inverted-hover-color);
    text-align: center;
    padding-top: 4px;
  }
}

.image__content {
  overflow: hidden;
  text-align: center;
}

.image__image,
.image__video {
  max-width: 100%;
  max-height: calc(100vh - 108px);
}

.image__image.full {
  max-height: 100%;
}

.image__processing {
  color: white;
  font-family: var(--font-family-header);
  font-size: 24px;
}

.image-suggested-by {
  padding: 0px 8px 18px;
  font-size: 14px;
}

.image-suggested-by__user {
  font-weight: bold;
  font-size: 16px;
  color: var(--black);
}

.history__user {
  font-family: var(--font-family-header);
  font-size: 20px;
  margin-bottom: 12px;
}

.history__label {
  margin: 12px 0 6px;
}

.history__time {
  margin-top: 12px;
}
