.avatar {
  position: relative;
  overflow: hidden;
  display: inline-flex;
  border-radius: 50%;
  background: var(--black);
  border: 1px solid var(--black);
}

.avatar__image {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
}

.avatar--large {
  width: 150px;
  height: 150px;
}

.avatar--small {
  width: 60px;
  height: 60px;
}

.role {
  margin: 0 6px;

  font-size: 12px;
  text-transform: uppercase;
  font-family: var(--font-family-header);

  color: var(--accent-color);
}

.role--block {
  display: block;
  margin: 0 0 0.2em;

  font-size: 14px;
}

.profile {
  margin: 0 0 40px;
  display: flex;
}

.profile__avatar {
  margin-right: 40px;
}

.profile__info {
  flex: 1 1 0;
}

.profile__info__name {
  display: inline-block;
  margin: 0.4em 0;
}

.profile__info__button--edit {
  vertical-align: super;
}

@media (--mobile) {
  .profile {
    flex-direction: column;
    align-items: center;
  }

  .profile__avatar {
    margin: 0;
  }

  .profile__info {
    text-align: center;
  }
}

/* Account management */

.account {
  display: flex;
}

.account__main {
  width: 100%;
}

.account__submit {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
}

.account__submit__button {
  align-self: flex-end;
}

.account__menu {
  flex-shrink: 0;
}

.account__link {
  display: block;
  margin: 10px 20px 20px 20px;

  font-family: var(--font-family-header);
  font-size: 18px;
  font-weight: bold;
  color: var(--meta-inverted-color);

  cursor: pointer;

  @apply --color-transition;

  &.active {
    color: var(--black);
  }

  &.active:hover {
    color: var(--black);
    cursor: default;
  }

  &:hover {
    color: var(--meta-hover-color);
  }
}
