.tag {
  display: inline-block;
  font-size: 14px;
  margin: 0 8px 8px 0;
  padding: 6px 12px;
  border-radius: 4px;

  background: var(--tag-color);
  color: var(--accent-color);

  font-weight: bold;
  text-decoration: none;

  @apply --bg-color-transition;

  &:hover {
    background: var(--tag-hover-color);
    color: var(--accent-hover-color);

    cursor: pointer;
  }
}
