.tag {
  display: inline-block;
  font-size: 14px;
  margin: 0 6px 4px 0;
  padding: 4px 8px;
  border-radius: 4px;

  text-decoration: none;

  color: var(--accent-color);
  border: 1px solid;
  font-weight: bold;

  @apply --bg-color-transition;

  &:hover {
    background: var(--accent-light-hover-color);
    color: var(--accent-hover-color);

    cursor: pointer;
  }
}
