footer.footer
  ' Fan Universe is powered by
  a.footer__link> href=github_url() open-source software

  ' ∙

  ' We are not affiliated with the copyright holders of
     any characters, series, or other related properties depicted on the site

  ' ∙

  a.footer__link> href="/intro" Intro

  ' ∙

  a.footer__link> href="/privacy" Privacy

  ' ∙

  a.footer__link> href="/contact" rel="nofollow" Contact
