.js-autocomplete {
  position: absolute;
  z-index: 1;
  width: 200px;
  padding: 8px 0;

  border: 1px solid var(--border-color);
  border-radius: 4px;

  background: white;
}

.js-autocomplete__line {
  padding: 0px 16px;
  line-height: 1.8em;

  font-family: var(--font-family-base);
  font-size: 14px;
}

.js-autocomplete__line:hover {
  background: var(--accent-light-hover-color);
}
