@import "global";

.js-autocomplete {
  position: absolute;
  z-index: 1;
  width: 200px;
  padding: 8px 0;

  border: 1px solid $border_color;
  border-radius: 4px;

  background: white;
}

.js-autocomplete__line {
  padding: 0px 16px;
  line-height: 1.8em;

  font-family: $font_family_base;
  font-size: 14px;
}

.js-autocomplete__line:hover {
  background: $accent_light_hover_color;
}
