@import "global";

/* Checkboxes */

.checkbox {
  margin-bottom: 6px;
}

.checkbox__default-input {
  display: none;
}

.checkbox__label {
  position: relative;
  cursor: pointer;
}

.checkbox__text {
  padding-left: 22px;
}

.checkbox__text::before,
.checkbox__text::after {
  position: absolute;
  margin: auto;
  content: "";
  top: 0;
  bottom: 0;
}

.checkbox__text::before {
  box-sizing: border-box;
  left: 0;
  width: 16px;
  height: 16px;
  border: 1px solid $border_color;
}

.checkbox__text::after {
  content: "\f00c";
  font-family: "FontAwesome";
  left: 1px;
  top: 1px;
  color: transparent;
}

.checkbox__text:hover::before {
  border: 1px solid $accent_focus_color;
}

.checkbox__default-input:checked + .checkbox__label > .checkbox__text::after {
  color: $black;
}

/* File upload */

.file-upload__input {
  position: absolute;
  overflow: hidden;
  width: 0;
  height: 0;
  opacity: 0;
  z-index: -1;
}

.file-upload__label {
  display: inline-block;
  cursor: pointer;
}
