.inline-form {
  display: inline;
}

.input {
  display: block;
  box-sizing: border-box;
  padding: 6px;
  margin-bottom: 6px;
  font-size: 16px;

  max-width: 100%; /* prevent resizable inputs from overflowing the container */

  color: var(--input-text-color);
  border: 1px solid var(--border-color);
}

.input:focus {
  color: var(--black);
  outline: none;
  border: 1px solid var(--accent-focus-color);
}

.input--inline {
  display: inline-block;
}

.input--wide {
  width: 100%;
}

.input--no-margin {
  margin: 0;
}

.input--spacing-left {
   margin-left: 4px;
}

textarea {
  height: 4em;
  resize: vertical;
}
