/* Colors */

$black: #121212;

$accent_color: #7b518e;
$accent_hover_color: #703a88;

$accent_focus_color: #c3a1d2;
$accent_light_hover_color: #ece7ef;

$meta_color: #8e8e8e;
$meta_hover_color: #525252;
$meta_inverted_color: #b8b8b8;
$meta_inverted_hover_color: #e0e0e0;

$border_color: #e6e6e6;
$page_background: #fcfcfc;

$burger_color: #282828;

$footer_color: #545454;

$pagination_hover_color: #eaeaea;

$input_text_color: #292929;

/* Dimensions */

$header_height: 48px;
$header_spacing: 12px;
$header_font_size: 18px;

$block_spacing: 8px;
$block_header_height: 32px;

$limited_layout_width: 980px;
$medium_layout_width: 1330px;
$layout_side_margin: 24px;

$desktop_width: 960px;

/* Fonts */

$font_family_base: "Raleway", sans-serif;
$font_family_header: "Sansita", sans-serif;

/* Mixins */

@mixin color-transition {
  transition: color 0.1s ease-in-out;
}

@mixin bg-color-transition {
  transition: background 0.1s ease-in-out,
              color 0.1s ease-in-out;
}

@mixin mobile {
  @media (max-width: $desktop_width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop_width) {
    @content;
  }
}
