/* Image grid dropdowns */

.image-sort-dropdown {
  font-family: var(--font-family-header);
  margin-bottom: 8px;
  padding-bottom: 4px;
}

.image-sort-dropdown:hover {
  text-decoration: underline;
  cursor: pointer;
}

/*
 * .media-grid
 *   .media
 */

.media-grid {
  margin: 0 auto;
}

/* A fallback for no-JS scenarios (centered single-column grid).
 * This class is removed by JS. */
.media--unstyled {
  margin-right: auto;
  margin-left: auto;
}

.media,
.media__video {
  width: 300px;

  /* Small screens (iPhone 5/SE) */
  @media (width <= 340px) {
    width: calc(100vw - 66px);
    max-width: 300px;
  }

  /* Landscape orientation */
  @media (width >= 615px) and (width <= 664px) {
    width: 260px;
  }

  /* Landscape orientation (bigger screens) */
  @media (width >= 665px) and (width <= 695px) {
    width: 280px;
  }

  /* Landscape orientation (tablets) */
  @media (width >= 960px) and (width <= 1015px) {
    width: 280px;
  }

  /* Landscape orientation (laptops) */
  @media (width >= 1265px) and (width <= 1345px) {
    width: 280px;
  }
}

.media__link {
  display: inline-block;
  position: relative;
  font-size: 0;
}

.media__link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: var(--black);
  opacity: 0;
  transition: opacity 0.2s;
}

.media__link:hover::after {
  opacity: 0.08;
  cursor: pointer;
}
