.meta {
  display: inline-block;
  padding: 4px;
  margin: 0 8px 8px 0;
  text-decoration: none;

  color: var(--meta-color);

  @apply --color-transition;

  &:hover {
    cursor: pointer;
    color: var(--meta-hover-color);
  }

  &.active {
    font-weight: bold;
    color: var(--black);
  }
}

.meta--inline {
  margin: 0;
}

.meta--bottom {
  margin: 4px 0 0;
}

.meta--text-overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
}
