.meta {
  display: inline-block;
  padding: 4px;
  text-decoration: none;

  color: var(--meta-color);

  @apply --color-transition;

  &:hover {
    cursor: pointer;
    color: var(--meta-hover-color);
  }

  &.active {
    font-weight: bold;
    color: var(--black);
  }
}

.meta--inline {
  margin: 0;
}

.meta--no-wrap {
  white-space: nowrap;
}

.meta--wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.meta-line {
  display: flex;
  justify-content: center;
}

.meta-line--top {
  margin-bottom: 8px;
}

.meta-line--bottom {
  margin-top: 4px;
}
